<h1>comments bot</h1>
<button onclick="addCommentsBot()">+ Add Comments Bot</button>
<div id="addcommentsbot" hidden="true">
	หากมีคำต่อไปนี้<input type="text" name="contrain" id="contrain"/> 
	<br>
	ให้ตอบกลับไปว่า <textarea name="cm_reply" rows="3" id="cm_reply"></textarea>
	<br>
	เลือกเพจของคุณ 
	<select id="pageSelect">
		<option selected disabled>เลือกเพจของคุณ</option>
	</select>
	<div hidden="true" class="postSelect">
		เลือกโพสของคุณ 
		<select id="postSelect">
			<option selected>กรุณาเลือกเพจที่ต้องการ</option>
		</select>
		<br>
		ส่งข้อความตอบกลับ <input type="checkbox" name="" id="is_ms_reply">
		<div class="ms_reply" hidden="true">
			ส่งข้อความไปหาว่า <textarea name="ms_reply" rows="3" id="ms_reply"></textarea>
			<br>
		</div>
		ซ่อนคอมเมนต์ <input type="checkbox" name="" id="is_hide_comment">
		<button onclick="createCommentBot()">เพิ่ม comment bot</button>
	</div>
</div>

{{#each personal_comments_bot}}
	<div class="{{this.cmbot_id}}">
		cmbot_id:{{this.cmbot_id}}
		page_id:{{this.page_id}}
		post_id:{{this.post_id}}
		create_by_user_id:{{this.create_by_user_id}}
		contrains:{{this.contrains}}
		is_hide_comment:{{this.is_hide_comment}}
		cm_reply:{{this.cm_reply}}
		is_ms_reply:{{this.is_ms_reply}}
		ms_reply:{{this.ms_reply}}
		<button class="change_status_btn" onclick="changeStatus('{{this.cmbot_id}}',this)">{{this.status}}</button>
		<button>แก้ไข</button>
		
	</div>
{{/each}}