<div id="main"></div>
<h1>Hello {{session.first_name}}</h1>
<img src="{{session.picture}}">
<button onclick="logout()">logout</button>
<button onclick="create()">Create Project</button>
<button onclick="gotoCommentsBot()">Commets bot</button>
<button onclick="gotoMessagesBot()">Messages bot</button>

<br>
Your projects
{{#each projects}}
	<div class="project" onclick="clickProject('{{this.page_id}}')">
		<img src="{{this.page_picture}}">
		{{this.page_name}}
		<span hidden="true">{{this.page_id}}</span>
		<span hidden="true">{{this.page_access_token}}</span>
	</div>
{{/each}}