<h2>Choose your page for manage</h2>

{{#each session.pages}}
	<div onclick="selected('{{this.id}}','{{this.access_token}}')" class="page" id="{{this.id}}">
		<img src="{{this.picture.data.url}}">
		<span>{{this.name}}</span>
		<span page_id="{{this.id}}" hidden="true">{{this.name}}</span>
	</div>
{{/each}}
<button onclick="next()" id="next">Continue</button>
<a href="/dashboard">Back to dashboard</a>