<div id="pages">{{session.pages.[0].name}}</div>
<div id="pages">{{session.pages.[1].name}}</div>
<div id="pages">{{session.pages.[2].name}}</div>
<div id="pages">{{session.pages.[3].name}}</div>
<div id="pages">{{session.pages.[4].name}}</div>
<div id="pages">{{session.pages.[5].name}}</div>
